

<h1>Login </h1>
<form>
  <label> username</label>
  <input type="text" name="lusername" [(ngModel)]="l_user.username">
  <label > Password </label>
  <input type="text" name="lpassword" [(ngModel)]="l_user.password">
  <button (click)=login_user() >Login! </button>
</form>


<h1> Register:</h1>
<form>
  <label> Username:</label>
  <input type="text" name="rusername" [(ngModel)]="r_user.username">
  <label>Email:</label>
  <input type="text" name="remail" [(ngModel)]="r_user.email">
  <label > Password: </label>
  <input type="text" name="rpassword" [(ngModel)]="r_user.password">
  <label > Password confirm:</label>
  <input type="text" name="rpasswordc" [(ngModel)]="r_user.passwordc">
  <button (click)="register_user()">  Register! </button>
  


  

</form>
<p>l user</p>
{{l_user|json}}
<p>r user</p>
{{r_user|json}}

